body {
    margin: 0;
    background-color: azure;
}

h1{
    margin-top: 0;
}

.top-container {
    text-align: center;
    top: 100px;
}

.top-cloud {
    position: relative;
    margin-top: 50px;
    margin-left: 400px;
}

.bottom-cloud {
    position: absolute;
}

.mountain {
    position: relative;
    margin-top: 200px;
}